body {
color: #283154;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.title {
  
}

.subtitle {
font-size: 18px;
margin-bottom: 30px;
}


.itemContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

.item {
  color: rgba(40, 49, 84, .8);
  width: 24%;
  border: 1px solid rgba(40, 49, 84, .4);
  border-radius: 5px;
  padding:20px 0;
  margin: 25px 5px;
}

.item.active {
  box-shadow: 2px 2px 10px rgba(40, 49, 84, .4);
  background-color:#424EA6; 
  color: #fff
}

@media only screen and (max-width: 600px) {
  .item {
    width: 44%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item:nth-child(odd) {
  margin-right: 20px;
}
}

@media only screen and (max-width: 360px) {
  .item {
    width: 44%;
    margin-top: 15px;
    margin-bottom: 15px;
}
  .item:nth-child(odd) {
    margin-right: 15px;
  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}

.footerContainer a {
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  text-decoration: none;
    color: rgba(40, 49, 84, .8);
}

.pages  {
list-style-type: none;
display: flex;
margin: 0;
align-items: center;
}

.pages li {
    background-color: rgba(40, 49, 84, .4);
     width: 7px;
  height: 7px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.pages li:hover {
  cursor: pointer;
} 

.pages .active {
  background-color: #424EA6;
  width: 10px;
  height: 10px;
}